# created by MAG
# 

version: '2'

volumes:
  nextcloud:
  db:

services:
  db:
    image: mariadb
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=secretWord
      - MYSQL_PASSWORD=secretWord
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  app:
    image: nextcloud:latest
    restart: always
    ports:
      - 8080:80
      - 8081:443
    links:
      - db
    volumes:
      - ./apache2:/etc/apache2
      - /media/cloud/bkp_cloud/data:/var/www/html/data
      - ./nextcloud:/var/www/html
      - ./php/php.ini:/usr/local/etc/php/conf.d/nextcloud.ini
    environment:
      - MYSQL_PASSWORD=secretWord
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db